{% extends 'base.html.twig' %}

{% block title %}Contact · rooney.tech{% endblock %}

{% block body %}
<section class="py-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <twig:Contact />
    </div>
</section>
{% endblock %}
