{% extends 'base.html.twig' %}

{% block title %}rooney.tech{% endblock %}

{% block body %}
<div class="min-h-screen bg-background">
    {% include 'components/NavBar.html.twig' %}

    <main class="space-y-24">
        <twig:AboutHero />

        <section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 space-y-16">
            <div id="about"></div>
            <twig:Hero />
            <twig:Stack />
            <div id="projects"></div>
            <twig:Project projects="{{ projects }}" />
            <twig:Missions />
            <twig:Contact />
            <twig:Footer />
        </section>
    </main>
</div>
{% endblock %}
