<section class="mt-28 xl:mt-32 max-w-7xl w-full mx-auto px-4 sm:px-6 md:px-8 xl:px-5 flex flex-col lg:flex-row lg:items-start gap-16">
    <div class="flex flex-col text-center lg:text-left lg:w-lg lg:max-w-lg lg:sticky lg:top-30">
          <span class="head-title flex w-max mx-auto lg:mx-0">
              <span class="relative px-3 py-0.5 z-4 text-secondary text-sm rounded">
                  {{ "expertises.sections.approaches.title" | trans }}
              </span>
          </span>
        <h2 class="text-fg-title text-3xl/snug lg:text-4xl/snug font-medium text-balance mt-5 mx-auto max-w-2xl">
            {{ "expertises.sections.approaches.subtitle" | trans }}
        </h2>
    </div>

    <div class="flex-1 lg:mx-0 mx-auto w-full max-w-6xl grid md:grid-cols-2 gap-1 p-1 bg-bg-surface/30 border border-border/40 shadow-lg shadow-gray-50/50 rounded-global">
        {% for _, approach in approaches %}
            <div class="relative p-4 sm:p-6 rounded-global bg-bg flex flex-col border border-border-strong/40 shadow-lg shadow-gray-50/50">
                <h3 class="font-medium text-secondary md:text-xl">{{ approach.title }}</h3>
                <p class="text-fg-muted mt-4">{{ approach.description }}</p>
            </div>
        {% endfor %}
    </div>
</section>
