<div aria-hidden="true" class="{{ 'pointer-events-none absolute -bottom-10 md:-bottom-40 -right-4 w-2/8 h-full rotate-45' ~ attributes.render('class') | tailwind_merge }}">
    <div class="h-1/12 w-full border border-gray-50"></div>
    <div class="h-1/12 w-full border border-gray-50 bg-bg-subtle"></div>
    <div class="w-full border border-gray-50" style="height: 26px"></div>
    <div class="w-full border border-gray-50" style="height: 26px"></div>
    <div class="w-full border border-gray-50" style="height: 26px"></div>
    <div class="w-full border border-gray-50" style="height: 24px"></div>
    <div class="w-full border border-gray-50 bg-bg-subtle" style="height: 30px"></div>
</div>
