<div aria-hidden="true" class="{{ 'pointer-events-none absolute inset-x-4 bottom-0 flex flex-col gap-1 ' ~ attributes.render('class') | tailwind_merge }}">
    <div class="h-px w-full border-t border-dashed border-border/40"></div>
    <div class="h-px w-2/3 border-t border-dashed border-accent/50"></div>
</div>
