<div aria-hidden="true" class="{{ 'pointer-events-none absolute -top-14 -left-10 md:-left-40 w-2/8 h-full rotate-45 ' ~ attributes.render('class') | tailwind_merge }}">
    <div class="h-1/12 w-full border border-sky-400/25 bg-sky-500/5"></div>
    <div class="h-1/12 w-full border border-sky-400/20 bg-sky-500/3"></div>
    <div class="w-full border border-sky-400/15 bg-sky-500/0" style="height: 26px"></div>
    <div class="w-full border border-sky-400/10 bg-sky-500/0" style="height: 26px"></div>
    <div class="w-full border border-sky-400/10 bg-sky-500/0" style="height: 26px"></div>
    <div class="w-full border border-sky-400/15 bg-sky-500/3" style="height: 24px"></div>
    <div class="w-full border border-sky-400/20 bg-sky-500/5" style="height: 30px"></div>
</div>
