<nav {{ attributes }}>
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
        <twig:Breadcrumb:Item title="{{ 'components.breadcrumb.home' | trans }}" href="{{ path('index') }}" icon="hugeicons:home-01" />
        {% block content %}{% endblock %}
    </ol>
</nav>
