<section class="relative bg-background py-32">
    <div class="max-w-6xl mx-auto px-6">

        <div class=" gap-16 items-center">


            <!-- Left content -->
            <div>

                <h2 class="text-5xl font-semibold tracking-tight text-foreground mb-6">
                    Stay<br>Connected
                </h2>

                <p class="text-sm text-muted-foreground max-w-md mb-10">
                    Open to backend-focused roles, long-term collaborations,
                    and discussions around building maintainable and reliable systems.
                </p>


                <div class="space-y-6 text-sm">
                    <div class="flex items-center gap-3 text-muted-foreground">
                        <twig:Ux:Icon name="heroicons:phone" class="h-5 w-5" />
                        <span>+243 994 644 422</span>
                    </div>
                    <div class="flex items-center gap-3 text-muted-foreground">
                        <twig:Ux:Icon name="heroicons:envelope" class="h-5 w-5" />
                        <span>
                            <a href="mailto:rooneykalumba610@gmail.com" class="hover:text-foreground transition">rooneykalumba610@gmail.com</a>
                        </span>
                    </div>
                    <div class="flex items-center gap-3 text-muted-foreground">
                        <twig:Ux:Icon name="simple-icons:github" class="h-5 w-5" />
                        <span>
                            <a href="https://github.com/rooneyi" class="hover:text-foreground transition" target="_blank">github.com/rooneyi</a>
                        </span>
                    </div>
                    <div class="flex items-center gap-3 text-muted-foreground">
                        <twig:Ux:Icon name="simple-icons:linkedin" class="h-5 w-5" />
                        <span>
                            <a href="https://www.linkedin.com/in/rooney-kalumba-45541428a/" class="hover:text-foreground transition" target="_blank">LinkedIn</a>
                        </span>
                    </div>
                    <!-- Ajoute d'autres réseaux ici si besoin -->
                </div>

                <div class="mt-12">
                    <twig:Button size="lg" as="a" href="mailto:rooneykalumba610@gmail.com">
                        <twig:Ux:Icon name="heroicons:envelope" class="w-5 h-5 mr-2" />
                        Get in touch
                    </twig:Button>
                </div>

            </div>

        

        </div>

    </div>
</section>
